/* FONTS */
/* rubik-300 - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/rubik-v12-latin-300.woff2") format("woff2"),
    url("../fonts/rubik-v12-latin-300.woff") format("woff");
}
/* rubik-regular - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-v12-latin-regular.woff2") format("woff2"),
    url("../fonts/rubik-v12-latin-regular.woff") format("woff");
}
/* rubik-500 - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/rubik-v12-latin-500.woff2") format("woff2"),
    url("../fonts/rubik-v12-latin-500.woff") format("woff");
}

/* --------------------- */
/* rubik-300 - cyrillic */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/rubik-v12-cyrillic-300.woff2") format("woff2"),
    url("../fonts/rubik-v12-cyrillic-300.woff") format("woff");
}
/* rubik-regular - cyrillic */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-v12-cyrillic-regular.woff2") format("woff2"),
    url("../fonts/rubik-v12-cyrillic-regular.woff") format("woff");
}
/* rubik-500 - cyrillic */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/rubik-v12-cyrillic-500.woff2") format("woff2"),
    url("../fonts/rubik-v12-cyrillic-500.woff") format("woff");
}
/* Variables */
:root {
  --text-color: #000;
  --body-bg: #fff;
  --hover-link: #33cccc;
  --input-color: #495057;
  --color-border: #dee2e7;
}

/*Main Styles*/
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 15px;
  background-color: (--body-bg);
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* HEADER */

.navbar {
  margin-left: auto;
}
.site-header {
  box-shadow: 0 5px 5px rgb(0 0 0 / 5%);
  background-color: #fff;
}

.header-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.site-logo {
  padding: 25px 0;
}
.logo-img {
  display: block;
  cursor: pointer;
}
.sitenav-list {
  padding: 0;
  margin: 0;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
}
.dropdown-menu {
  position: absolute;
  top: 98%;
  left: 45%;
  transform: translateX(-50%);
}
.dropdown-list {
  display: none;
  padding-top: 15px;
  padding: 24px;
  border-radius: 9px;
  margin-top: 15px;
  background-color: var(--body-bg);
  box-shadow: -5px 0 25px rgb(0 0 0 / 10%);
}

.dropdown-list::before {
  display: block;
  content: "";
  position: absolute;
  top: 2px;
  right: 16px;
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 14px solid var(--body-bg);
}

.sitenav-item {
  padding: 30px;
  display: flex;
  align-items: center;
  position: relative;
}

.dropdown-item {
  display: flex;
  align-items: center;
}

.dropdown-item:not(:last-child) {
  padding-bottom: 8px;
}

.sitenav-item::before,
.dropdown-item::before {
  transition: 0.3s;
  margin-right: 16px;
  content: "";
  background-repeat: no-repeat;
  cursor: pointer;
}

.transform::before {
  background-image: url(../images/trans.svg);
  width: 27px;
  height: 30px;
}
.sitenav-item:hover.transform::before {
  background-image: url(../images/trans-hover.svg);
}
.sitenav-item:hover.cashback::before {
  background-image: url(../images/hamyon-hover.svg);
}
.sitenav-item:hover.help::before {
  background-image: url(../images/nastroyka-hover.svg);
}

.cashback::before {
  background-image: url(../images/hamyon.png);
  width: 28px;
  height: 24px;
}

.help::before {
  background-image: url(../images/nastroyka.png);
  width: 25px;
  height: 24px;
}

.lang::before {
  background-image: url(../images/uz.svg);
  width: 30px;
  height: 30px;
}

.dropdown-item::before {
  width: 30px;
  height: 30px;
}

.ru::before {
  background-image: url(../images/ru.svg);
}
.uz::before {
  background-image: url(../images/uz.svg);
}
.eng::before {
  background-image: url(../images/eng.svg);
}
.sitenav-link,
.dropdown-link {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
  transition: 0.3s;
  line-height: 30px;
}

.sitenav-item:hover .sitenav-link,
.dropdown-item:hover .dropdown-link {
  color: var(--hover-link);
}

.lang:hover .dropdown-list {
  display: block;
}

/* MAIN */

/* SECTION-AUTH */

.section-auth__container {
  display: flex;
}

.form-container label {
  display: block;
  margin-bottom: 8px;
}

.section-auth__title {
  font-size: 32px;
  font-weight: 300;
  line-height: 1.2;
}

.input-group {
  display: flex;
  position: relative;
  width: fit-content;
  align-items: center;
  border-radius: 9px;
  overflow: hidden;
}

.input-group__text,
.input-group__input {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--input-color);
  border: 2px solid var(--color-border);
  border-radius: 9px;
  padding: 12px 7px;
  transition: 0.3s;
}

.input-group__text {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-left: 14px;
}

.input-group__input {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-right: 14px;
  outline: none;
}

.input-group__btn {
  width: 24px;
  height: 38px;
  background: url(../images/right-arrow.svg) no-repeat center;
  border: none;
  outline: none;
  animation: arrow ease-in-out 0.6s infinite;
}

.input-group__enter {
  display: flex;
  position: absolute;
  right: 0px;
  background-color: var(--hover-link);
  width: 63px;
  height: 56px;
  align-items: center;
  justify-content: center;
}

@keyframes arrow {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.images-container {
  width: 850px;
  height: 520px;
  background: url(../images/img1.svg) no-repeat top;
  background-size: contain;
  position: relative;
}

.images-container__img1 {
  width: 226px;
  height: 313px;
  position: absolute;
  top: 207px;
  left: 158px;
  background-image: url(../images/img2.svg);
}

.images-container__img5 {
  width: 236px;
  height: 316px;
  position: absolute;
  top: 181px;
  left: 178px;
  background-image: url(../images/img5.svg);
  animation: img5 ease-in-out 4s infinite;
}

@keyframes img5 {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-6deg);
  }
  100% {
    transform: rotate(0);
  }
}
